# **Semantic Textual Similarity using word2vec and Clustering**
--------------------------------------------------------------------------------

## Overview
Here we have a data-set containig titles and descriptions of the products of an online retail market. Some records may do not have any description.



**Goal:** Our goal is to come up with a way to find similar products to any new unlabled product based on its title an description.

--------------------------------------------------------------------------------

## General Approach
Our general approach is to:

1.   Preprocess the texts (titles and descriptions of the products), consisting of following steps:

   *   removing common unnecessary words and stop words.
   *   removing words with only digits, which usually represent a serial number a product.
   *   removing words consisting of both numbers and english characters, which usually represent a specific model of a product.
   *   tokenizing the remaining texts.


2.   Embed the words of our vocabulary to 100 dimensional vectors using **word2vec** algorithm.
3.   Find the vectors indicating each product of our data-set by calculating the **mean** of the word vectors in the description + title.
4.   Segment the dataset to appropriate number of clusters with **Density-based spatial clustering of applications with noise (DBSCAN) clustering** algorithm.


After the segmentaion of the products we could assign a category to each cluster by analysing the members of that cluster.

To get **'N'** most similar products to a new unseen product we could measure **Cosine Silmilarity** between the vector of the description + title and all the cluster centroids. The most similar cluster will be the main category of the new product and 'N' most similar vectors of the products within that cluster to the vector of the new product will be our suggestions.

--------------------------------------------------------------------------------
## **Additional Information**

**word2vec algorithm**: The word2vec algorithm uses a neural network model to learn word associations from a large corpus of text. Once trained, such a model can detect synonymous words or suggest additional words for a partial sentence. As the name implies, word2vec represents each distinct word with a vector.

here are two articles about word2vec algorithm:


1.   [A Beginner's Guide to Word2Vec and Neural Word Embeddings](https://wiki.pathmind.com/word2vec)
2.   [Word2Vec Explained](https://israelg99.github.io/2017-03-23-Word2Vec-Explained/)



**DBSCAN Clusternig**: Here is a great article about [DBSCAN Algorithm and How it works.](https://www.mygreatlearning.com/blog/dbscan-algorithm/#:~:text=DBSCAN%20is%20a%20clustering%20algorithm%20that%20defines%20clusters,hyperparameters%3A%20epsilon%20and%20minPoints%20to%20arrive%20at%20clusters.)

**Cosine Similarity**: Cosine similarity is a measure of calculating distance between vectors. It is calculated as
 
![cosine-similarity.png]()

In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from gensim.models import Word2Vec
import re

### Loading the data set

In [2]:
df = pd.read_csv('/content/drive/My Drive/NLP @LOOP/products_information.csv')

In [3]:
df.drop(columns=['Unnamed: 0'],inplace=True)
df.sample(5)

                                                 title_fa                                 review_description
197538  محافظ صفحه نمایش شیشه لاین 25D مناسب گوشی اپل ...                                                NaN
179948   انگشتر باربد ویکتوریا سنگ ماه تولد عقیق لکه برفی  خواص درمانی سنگ طبیعی معدنی عقیق لکه برفیهضم خ...
37448                              کیف اداری چرم ناب K101  کیف اداری چرم کدk101تولید چرم صددرصد طبیعی گاو...
238355             پازل 1000 تکه راونزبرگر Village Harbor                                                NaN
185299                              میوه خوری لکورد Fall2                                                NaN

In [4]:
# Regex pattern test for numbers and alphabet+number combinations
pattern = r'[A-Za-z]*[0-9]+[A-Za-z]*'
text = 'glow گردنبند طلا 18 عیار زنانه گالری G325'
print(re.findall(pattern,text))

['18', 'G325']

In [5]:
# Regex pattern test for numbers and alphabet+number combinations
pattern = r'[A-Za-z]*[0-9]+[A-Za-z]*'
text = 'اتو موی پروویو PW5102در ساخت اتو مو  پروویو  Prowave  PW5102  فناوری PTC NTC شده عملکرد تاثیر بسزایی فناوری PTC باعث می اتو مو کمترین بیشترین حرارت برسد  حداکثر دمای PW5102 دستگاه استفاده فناوری PTC ظرف 8 ثانیه دما می رسد فناوری NTC پخش حرارت صفحات صورت یکسان مربوط می شکل دستگاه موها کاملا یکنواخت صاف قابلیت تنظیم دما امکان کاربر فراهم می کند باتوجه نوع موی دمای اتو مو حد مناسبی تنظیم کند صفحه نمایش سیم گردان ولتاژ جهانی خصوصیات اتو مو  پروویو  Prowave  PW5102  محسوب می گفتنی سایز صفحات اتو مو متوسط ببیشتر کسانی موهای کوتاه مناسب صاف موهای بلند بهتر اتو مو صفحات پهن شود'
print((re.sub(pattern,'',text)).split())

['اتو', 'موی', 'پروویو', 'در', 'ساخت', 'اتو', 'مو', 'پروویو', 'Prowave', 'فناوری', 'PTC', 'NTC', 'شده', 'عملکرد', 'تاثیر', 'بسزایی', 'فناوری', 'PTC', 'باعث', 'می', 'اتو', 'مو', 'کمترین', 'بیشترین', 'حرارت', 'برسد', 'حداکثر', 'دمای', 'دستگاه', 'استفاده', 'فناوری', 'PTC', 'ظرف', 'ثانیه', 'دما', 'می', 'رسد', 'فناوری', 'NTC', 'پخش', 'حرارت', 'صفحات', 'صورت', 'یکسان', 'مربوط', 'می', 'شکل', 'دستگاه', 'موها', 'کاملا', 'یکنواخت', 'صاف', 'قابلیت', 'تنظیم', 'دما', 'امکان', 'کاربر', 'فراهم', 'می', 'کند', 'باتوجه', 'نوع', 'موی', 'دمای', 'اتو', 'مو', 'حد', 'مناسبی', 'تنظیم', 'کند', 'صفحه', 'نمایش', 'سیم', 'گردان', 'ولتاژ', 'جهانی', 'خصوصیات', 'اتو', 'مو', 'پروویو', 'Prowave', 'محسوب', 'می', 'گفتنی', 'سایز', 'صفحات', 'اتو', 'مو', 'متوسط', 'ببیشتر', 'کسانی', 'موهای', 'کوتاه', 'مناسب', 'صاف', 'موهای', 'بلند', 'بهتر', 'اتو', 'مو', 'صفحات', 'پهن', 'شود']

### Preprocessing

In [6]:
# replacing NaNs with empty string in order to concatinate titles an descriptions
df.fillna('',inplace=True)
df['text'] = df['title_fa'] + ' ' + df['review_description']

In [7]:
df['text'].sample(5).to_frame()

                                                     text
78817              کفش مخصوص دویدن مردانه آدیداس Adistar
45743           کابل تبدیل USBC OTG مکا MC23 طول 015 متر
158062        کتاب کتاب حمام مامانم اثر راحله عابدین نیا
295328  ساعت مچی عقربه مردانه ریتم S1414R01 ترکیب دوست...
24853   ظرف وارمر برلینگر هاوس BH1382 کمپانی هوم ایمکس...

In [8]:
def preprocess(text):
  stopwords = ['ی','می','مدل','را','از','به','که','و']
  pattern = r'[A-Za-z]*[0-9]+[A-Za-z]*'
  tokens = (re.sub(pattern,'',text)).split()
  text = [token for token in tokens if not token in stopwords]
  return(text)

In [9]:
df['tokens'] = df['text'].apply(preprocess)
tokens = df['tokens'].to_frame()

In [10]:
tokens

                                                   tokens
0                                       [ماگ, آکو, سلمان]
1                      [کتاب, هیس, هیس, اثر, سحر, انواری]
2                        [ساعت, مچی, عقربه, زنانه, کیمیو]
3       [کاور, تاپیکس, Hard, مناسب, گوشی, موبایل, سامس...
4                                       [کاور, کوسن, آکو]
...                                                   ...
299995  [پایه, گردان, خورشیدی, باطری, پایه, چرخشی, گرد...
299996              [قهوه, ایلی, Grany, Deca, مقدار, گرم]
299997                                     [شیرینی, خوری]
299998                   [تی, شرت, یقه, گرد, مردانه, متی]
299999  [ساعت, مچی, عقربه, زنانه, دنیل, ولینگتون, ساعت...

[300000 rows x 1 columns]

In [11]:
# finding the maximun lentgh of tokens
len_tokens = df['tokens'].apply(lambda x:len(x))

In [12]:
max(len_tokens)

1327

### Embeding the words using **word2vec** from Gensim Library

In [13]:
w2v = Word2Vec(df['tokens'].values,min_count=1,
                     window=3,
                     size=100,
                     sample=6e-5, 
                     alpha=0.03, 
                     min_alpha=0.0007, 
                     negative=20)

In [14]:
w2v.init_sims(replace=True)

In [15]:
words = list(w2v.wv.vocab)

testing some words! (similarity is measured by cosine similarity)

In [16]:
w2v.most_similar('موبایل')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated `most_similar` (Method will be removed in 4.0.0, use self.wv.most_similar() instead).
  """Entry point for launching an IPython kernel.

[('گوشی', 0.889575719833374),
 ('آیفون', 0.7377980947494507),
 ('تبلت', 0.7365264892578125),
 ('سامسونگ', 0.7118581533432007),
 ('Plus', 0.6874409317970276),
 ('Note', 0.6727398633956909),
 ('کاور', 0.6716111898422241),
 ('دوربین', 0.6547080278396606),
 ('نوکیا', 0.6515638828277588),
 ('دستگاهتان', 0.645830512046814)]

In [17]:
w2v.most_similar('کتاب')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated `most_similar` (Method will be removed in 4.0.0, use self.wv.most_similar() instead).
  """Entry point for launching an IPython kernel.

[('دربردارد', 0.8127429485321045),
 ('مقدمه', 0.8053098320960999),
 ('خوانید', 0.7794033288955688),
 ('مجلد', 0.7738686800003052),
 ('مولف', 0.7730684280395508),
 ('طنز', 0.771487832069397),
 ('تالیف', 0.770850419998169),
 ('داستان', 0.7706552147865295),
 ('رمانی', 0.770344614982605),
 ('پیشگفتار', 0.7679964303970337)]

not so bad!

In [18]:
# length of vectors representing each word
len(w2v.wv.get_vector('موبایل'))

100

### Calculating the vectors of each sentence (product title + description)

In [19]:
sentence_vector_average = np.zeros((300000,100))
for ind in range(len(df['tokens'].values)):
  line = df['tokens'].values[ind]
  token_num = 0
  sentence_vector = np.zeros((100,))
  for token in line:
    sentence_vector += w2v.wv.get_vector(token)
    token_num += 1
  sentence_vector_average[ind] = sentence_vector/token_num

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: RuntimeWarning: invalid value encountered in true_divide
  if __name__ == '__main__':

In [20]:
sentence_vector_average_df = pd.DataFrame(sentence_vector_average)

In [21]:
sentence_vector_average_df.sample(5)

              0         1         2   ...        97        98        99
17052   0.001354 -0.034974 -0.049349  ...  0.069732  0.054623 -0.213834
2064    0.072623  0.063212 -0.124776  ...  0.052038 -0.008475 -0.111256
200160  0.190586 -0.025834  0.057073  ...  0.019891 -0.100062 -0.141203
68477   0.045997  0.024929  0.001098  ...  0.088710 -0.033812 -0.242042
110627  0.037676  0.065775 -0.043067  ... -0.027572 -0.009578 -0.118695

[5 rows x 100 columns]

In [22]:
sentence_vector_average_df.isna().sum()

0     21
1     21
2     21
3     21
4     21
      ..
95    21
96    21
97    21
98    21
99    21
Length: 100, dtype: int64

There are 21 nan examples after calculating the sum vector of examples

These can be dropped.

### segmenting the products using sentence vectors wit Clustering

In [23]:
from sklearn.cluster import DBSCAN,KMeans

In [24]:
sentence_vector_average_df.shape

(300000, 100)

Now we Cluster the word vectors using Density-based spatial clustering of applications with noise (DBSCAN) clustering method

**Note:** Clustering the whole 300000 examples required a lot of ram which resulted in crashing the session, so i just run the algorithm on a sample of 50000 examples for tehsake of representation.

In [46]:
#DBSCAN clustering algorithm
sampled_data = sentence_vector_average_df.sample(50000).dropna().values

dbscan = DBSCAN(eps=0.1, min_samples=110, metric='cosine')
dbscan.fit(sampled_data)

DBSCAN(algorithm='auto', eps=0.1, leaf_size=30, metric='cosine',
       metric_params=None, min_samples=110, n_jobs=None, p=None)

In [47]:
# label -1 shows noise data
np.unique(dbscan.labels_)

array([-1,  0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15,
       16, 17, 18, 19, 20])

We got 20 clusters that we could use each represeting a product category

In [50]:
sampled_data = pd.DataFrame(sampled_data)

In [52]:
sampled_data['label'] = dbscan.labels_

In [53]:
sampled_data

              0         1         2  ...        98        99  label
0      0.104329  0.004700  0.008771  ... -0.089298 -0.040386      0
1      0.040908  0.066303 -0.018144  ... -0.103870 -0.107352      1
2      0.100434  0.028003  0.034354  ... -0.071669 -0.033092      0
3     -0.099721  0.005617 -0.114904  ...  0.120173 -0.032508     14
4      0.039807 -0.001056 -0.050158  ... -0.028705 -0.110320      0
...         ...       ...       ...  ...       ...       ...    ...
49991  0.030210 -0.087831 -0.111369  ...  0.038769  0.014254     17
49992  0.062217  0.045100 -0.139183  ... -0.039165 -0.082814     -1
49993  0.079681 -0.048755 -0.116971  ... -0.010856 -0.082486     -1
49994  0.053189 -0.018124 -0.063168  ... -0.046540 -0.076542     -1
49995  0.082631  0.013464 -0.128309  ... -0.006758 -0.086731      0

[49996 rows x 101 columns]

----------------------------------------------

Lets make a Dictionary to store the mean vector of each category:

In [55]:
# keys -> cluster_number
# values -> mean vector of that cluster

category_vectors = {i:sampled_data[sampled_data['label'] == i].iloc[:,0:100].mean() for i in range(21)}

Now Lets observe what category each cluster represents

In [70]:
w2v.similar_by_vector(category_vectors[1].values)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated `similar_by_vector` (Method will be removed in 4.0.0, use self.wv.similar_by_vector() instead).
  """Entry point for launching an IPython kernel.

[('آنتا', 0.8282709121704102),
 ('کفش', 0.8101304173469543),
 ('اسکچرز', 0.8098382949829102),
 ('لتون', 0.7993772625923157),
 ('GOwalk', 0.7919614911079407),
 ('دویدن', 0.791439950466156),
 ('جوما', 0.7885371446609497),
 ('MIRACLE', 0.7884770631790161),
 ('Stan', 0.7880978584289551),
 ('Adipure', 0.7869611978530884)]

Cluster 1 is mostly related to **shoes and sneakers**

In [71]:
w2v.similar_by_vector(category_vectors[2].values)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated `similar_by_vector` (Method will be removed in 4.0.0, use self.wv.similar_by_vector() instead).
  """Entry point for launching an IPython kernel.

[('پولوشرت', 0.8204652667045593),
 ('لگینگ', 0.8073954582214355),
 ('سوییشرت', 0.781952977180481),
 ('شومیز', 0.7767382860183716),
 ('آستین', 0.7760021686553955),
 ('زنانه', 0.7684909105300903),
 ('شلوارهای', 0.7680611610412598),
 ('استین', 0.763431191444397),
 ('گارودی', 0.7625313401222229),
 ('یوپیم', 0.7618343830108643)]

Cluster 1 is mostly related to **shirts and T-shirts**

In [73]:
w2v.similar_by_vector(category_vectors[3].values)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated `similar_by_vector` (Method will be removed in 4.0.0, use self.wv.similar_by_vector() instead).
  """Entry point for launching an IPython kernel.

[('عقیق', 0.9040893316268921),
 ('سنگ', 0.9008742570877075),
 ('جاسپر', 0.872017502784729),
 ('لاجورد', 0.8685940504074097),
 ('یمنی', 0.8574920892715454),
 ('حدید', 0.8561422824859619),
 ('توپاز', 0.852693498134613),
 ('جید', 0.8464436531066895),
 ('زبرجد', 0.8456164598464966),
 ('یشم', 0.8388755917549133)]

Cluster 3 is mostly related to **Jewelries**

In [74]:
w2v.similar_by_vector(category_vectors[4].values)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated `similar_by_vector` (Method will be removed in 4.0.0, use self.wv.similar_by_vector() instead).
  """Entry point for launching an IPython kernel.

[('مچی', 0.9377319812774658),
 ('عقربه', 0.9000678062438965),
 ('رومانسون', 0.8393601179122925),
 ('تیسوت', 0.8369371891021729),
 ('کاندینو', 0.8204541206359863),
 ('رادو', 0.80576092004776),
 ('وستار', 0.7946540117263794),
 ('ارنشا', 0.7935017943382263),
 ('ساعت', 0.7934136390686035),
 ('کورنوگراف', 0.7931046485900879)]

Cluster 4 is mostly related to **watches**

In [81]:
w2v.similar_by_vector(category_vectors[5].values)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated `similar_by_vector` (Method will be removed in 4.0.0, use self.wv.similar_by_vector() instead).
  """Entry point for launching an IPython kernel.

[('آفتابی', 0.9218425750732422),
 ('عینک', 0.8751509785652161),
 ('گس', 0.8617125749588013),
 ('لوزا', 0.8555668592453003),
 ('Guess', 0.8477016687393188),
 ('ویفرر', 0.8250023126602173),
 ('خلبانی', 0.8060670495033264),
 ('گانت', 0.7998471260070801),
 ('Lozza', 0.7979069352149963),
 ('مارسیانو', 0.7897413969039917)]

Cluster 5 is mostly related to **glasses**

In [79]:
w2v.similar_by_vector(category_vectors[7].values)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated `similar_by_vector` (Method will be removed in 4.0.0, use self.wv.similar_by_vector() instead).
  """Entry point for launching an IPython kernel.

[('دستبافت', 0.8946883678436279),
 ('فرش', 0.8334887027740479),
 ('دستباف', 0.8166359066963196),
 ('فرشی', 0.8125796914100647),
 ('قالیچه', 0.7949178218841553),
 ('ذرع', 0.7776476740837097),
 ('وینتیج', 0.7720241546630859),
 ('کلاژ', 0.7603014707565308),
 ('گلیم', 0.753655731678009),
 ('کلاژفرش', 0.7505193948745728)]

Cluster 7 is mostly related to **Carpets and rugs**

In [84]:
w2v.similar_by_vector(category_vectors[8].values)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated `similar_by_vector` (Method will be removed in 4.0.0, use self.wv.similar_by_vector() instead).
  """Entry point for launching an IPython kernel.

[('دربارهی', 0.9136397242546082),
 ('بازنویسی', 0.907249927520752),
 ('دیباچه', 0.8991974592208862),
 ('تئاتری', 0.8953952789306641),
 ('آموزگار', 0.8933660984039307),
 ('ژرفای', 0.8933285474777222),
 ('تفحص', 0.8926522135734558),
 ('شرحی', 0.8919925689697266),
 ('رهگذر', 0.8880715370178223),
 ('صوفیه', 0.8860899209976196)]

it seems that Cluster 8 is mostly related to **literature**

In [86]:
w2v.similar_by_vector(category_vectors[9].values,20)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated `similar_by_vector` (Method will be removed in 4.0.0, use self.wv.similar_by_vector() instead).
  """Entry point for launching an IPython kernel.

[('ماگ', 0.9034676551818848),
 ('لومانا', 0.8311771154403687),
 ('استارباکس', 0.7998494505882263),
 ('ماگستان', 0.7998427748680115),
 ('سپاهانی', 0.7942887544631958),
 ('pm_', 0.7738790512084961),
 ('Mickep', 0.7631633281707764),
 ('ریجینال', 0.7582796812057495),
 ('بزگتری', 0.7497599124908447),
 ('Sarah', 0.742853045463562),
 ('ماگهای', 0.7383413314819336),
 ('مسافرتیمینی', 0.7361195087432861),
 ('رنگارشاپ', 0.7297502756118774),
 ('Prıncess', 0.7293574213981628),
 ('انارچاپ', 0.7258710861206055),
 ('ماگی', 0.7156023383140564),
 ('سینایا', 0.6999820470809937),
 ('Capricorn', 0.6984260678291321),
 ('فالومی', 0.6982779502868652),
 ('bookD', 0.697514533996582)]

it seems that Cluster 8 is mostly related to **Mugs** and so on ...

we should do this observations for all 20 clusters

Finally to predict a new product's category:

* first we should create a dictionary, mapping all the clusters to its observed category as above.
* then we should get the new products sentence vectoor by averaging its title's word vectors
* and at last finding the most similar category vector to the new products sentence vector

In [ ]:
category_cluster_map = {1:'shoes', 2:'clothes', 3:'jewelries',4: 'watches' , 5:'glasses'}

def predict_category(product_title):
  tokens = preprocess(product_title)

  sentence_vector = np.zeros(100,)
  token_num = 0
  for token in tokens:
    if token in w2v.wv.vocab:
      vector = w2v.wv[token]
      token_num += 1
      sentence_vector += vector
    else:
      continue
  
  sentence_vector = sentence_vector/token_num    # averaging over words of the sentence

  most_similar_vector = None
  most_similar_cluster = None
  max_similarity = 0
  for cluster in category_cluster_map.keys():
    cluster_vector = category_vectors[cluster]
    if w2v.wv.similarity(cluster_vector , sentence_vector) > max_similarity:
      max_similarity = w2v.wv.similarity(cluster_vector , sentence_vector)
      most_similar_cluster = cluster
      most_similar_vector = cluster_vector
  
  return(category_cluster_map[most_similar_cluster])